
.ipynb_checkpoints/
.DS_Store/
.idea/
__pycache__/

# Ingore the output directory
output/

# Ignore flownet test data for now - it's over 2GB
flownet_data/
FlowNet/models/

# Ignore RAFT repo
RAFT/RAFT
